<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>


<div class="about content">
<h2>about Us</h2>
<p>lorum1</p>
<p>lorum2</p>
<p>lorum3</p>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>